# Gradle
.gradle/
build/
app/build/

# Eclipse
.project
.classpath
.settings/
app/.project
app/.classpath
app/.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Java
*.class
*.log
hs_err_pid*

# OS-specific junk files
.DS_Store
Thumbs.db
